body, p, label, textarea, button, input {font-size: 110%}
p {margin-bottom: 1em}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0}
.container-fluid {padding-right: 0}
#map_canvas { height: 100% }
.left-menu {margin-top: 15px}
.choose-waste label {margin-top: 10px}

#addPointModal {width: 750px}
#addPointModal .modal-body {max-height: 420px}
.add-point-form .controls ul {margin: 0}
.add-point-form .controls li {margin: 0; list-style: none}
input[type='checkbox'] {margin-top: 0; width: 16px; height: 16px}
.add-point-form .controls [type='checkbox'] {margin-top: 0}
#id_adress {width: 500px; font-size: 85%}
.additional-fields {margin-top: 15px}

.red {color: #8B0000; font-size: 120%}
/* Fix for google's auto complete in modal form */
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}

/* END Fix for google's auto complete in modal form */

/* Fix Google Maps because of Bootstrap*/
#map_canvas img {
  max-width: none;
}